@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --light-blue: #06AED5;
    --dark-blue: #086788;
    --yellow: #F0C808;
    --white: #FFF1D0;
    --red: #DD1C1A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--white);
    overflow: hidden;
    color: var(--white);
    position: relative;
}

header {
    background-color: var(--dark-blue);
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    font-size: 2.5rem;
    text-decoration: underline;
}

header h2 {
    font-size: 1.5rem;
}

.user-word {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, .9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#randomWord {
    margin-top: 5%;
    padding: 2vh 4vw;
    border-radius: 5px;
    border: 5px solid var(--dark-blue);
    background-color: var(--white);
    color: var(--dark-blue);
    font-size: 1rem;
    font-weight: 800;
}

#randomWord:hover {
    opacity: .9;
    cursor: pointer;
}

.win, .lose{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: none;
    background-color: rgba(0, 0, 0, .85);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.win button, .lose button {
    background-color: var(--white);
    color: var(--dark-blue);
    border: none;
    border: 3px solid var(--dark-blue);
    border-radius: 5px;
    padding: 2% 4%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1rem;
}

#user-word-placeholder {
    color: var(--dark-blue);
    padding: 5%;
    background-color: var(--white);
    border: 5px solid var(--dark-blue);
    border-radius: 5px;
    font-size: 1.5rem;
}

#user-word-placeholder:focus {
    outline: none;
}

.user-word p {
    font-size: 2rem;
    text-align: center;
    color: var(--white);
    margin-bottom: 2%;
    font-size: 2rem;
}

#input {
    display: flex;
}

#input #submit {
    padding: 5%;
    border: 5px solid var(--dark-blue);
    margin-left: -5px;
    background-color: var(--white);
    color: var(--dark-blue);
    font-size: 1.5rem;
    text-align: center;
    line-height: 5%;
}

#input #submit:hover {
    cursor: pointer;
    opacity: .9;
}

.container {
    display: flex;
}

.container-left {
    margin: 5% 5% 2% 5%;
    width: 60vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-blue);
    border-radius: 10px;
}

#retry-button {
    width: 30vw;
}

#hidden-word {
    height: 50%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--dark-blue);
    margin: 5% 10%;
}

.underscore {
    height: .3vh;
    width: 5vw;
    background-color: var(--red);
    margin-left: 1%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    margin: 0 10% 0 10%;
}

.buttons button,input {
    height: 8vh;
    border-radius: 5px;
    background-color: var(--yellow);
    color: var(--dark-blue);
    border: none;
}

.buttons button:hover,input:hover {
    opacity:.9;
}

.buttons button {
    width: 15vw;
    cursor: pointer;
}

.container-right {
    margin: 5% 5% 0 5%;
    width: 40vw;
    height: 40vh;
    background-color: var(--yellow);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.hangman {
    margin: 5%;
    height: 80%;
    width: 90%;
    background-color: var(--white);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.hangman div {
    position: absolute;
    display: none;
}

#hangmanDrawing1 {
    height: 6vw;
    width: .3vw;
    background-color: black;
    top: calc(50% + 3vw);
    right: calc(15% + 12vw - 2px);
    rotate: 90deg;
}

#hangmanDrawing2 {
    height: 12vw;
    width: .3vw;
    background-color: black;
    top: calc(50% - 6vw);
    right: calc(15% + 12vw - 2px);
}

#hangmanDrawing3 {
    height: 12vw;
    width: .3vw;
    background-color: black;
    top: calc(50% - 12vw);
    right: calc(15% + 6vw - 2px);
    rotate: 90deg;
}

#hangmanDrawing4 {
    height: 4vw;
    width: .3vw;
    background-color: black;
    top: calc(50% - 6.5vw);
    right: calc(15% + 10.5vw - 2px);
    rotate: 45deg;
}

#hangmanDrawing5 {
    height: 3vw;
    width: .3vw;
    background-color: black;
    top: calc(50% - 6vw);
    right: calc(15% - .15vw);
}

#hangmanDrawing6 {
    height: 3vw;
    width: 3vw;
    border: 3px solid black;
    top: calc(50% - 3vw - 1px);
    border-radius: 50%;
    right: calc(15% - 1.5vw); 
}

#hangmanDrawing7 {
    height: 6vw;
    width: .3vw;
    background-color: black;
    top: 50%;
    right: calc(15% - .15vw); 
}

#hangmanDrawing8 {
    height: .3vw;
    width: 6vw;
    background-color: black;
    border-bottom: transparent;
    border-right: transparent;
    position: absolute;
    top:50%;
    right: calc(15% - 3vw);
}

#hangmanDrawing9 {
    height: 3vw;
    width: 3vw;
    border: solid 3px black;
    rotate: 45deg;
    border-bottom: transparent;
    border-right: transparent;
    margin-bottom: 10%;
    top: 50%;
    top: calc(50% + 6vw);
    right: calc(15% - 1.5vw); 
}

.container-bottom {
    width: 80vw;
    height: 30vh;
    margin: 0 15% 0 10%;
    background-color: var(--red);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 100vw;
    max-height: 3vh;
}

.key {
    padding: 1vh 2vw;
    margin: 1px;
    border-radius: 5px;
    border: 3px solid var(--white);
    background-color: var(--dark-blue);
    color: var(--yellow);
    font-size: calc(.5rem + 1vh);
}

.key p {
    text-align: center;
    font-size: calc(.5rem + 1vh);
}

.key:hover {
    cursor: pointer;
    opacity: .9;
}

.second-row {
    margin-left: 5%;
}

.third-row {
    margin-left: 10%;
}

.score {
    margin: 5% 5% 0 5%;
    height: 15%;
    width: 90%;
    border-radius: 5px;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.score p {
    font-size: 1.2rem;
    margin: 0 4%;
}

@media (max-width: 700px) {
    .container-bottom {
        width: 85vw;
        border-radius: 5px;
        margin: 5% auto;
    }
    .key {
        padding: .5vh 1vw;
        margin: 1px;
        border-radius: 5px;
        border: 3px solid var(--white);
        background-color: var(--dark-blue);
        color: var(--yellow);
        font-size: calc(.5rem + 1vh);
    }

    .user-word {
        align-items: flex-start;
    }

    .user-word p,button,input  {
        margin-left: 5vw;
    }

    #user-word-placeholder {
        color: var(--dark-blue);
        padding: 5%;
        background-color: var(--white);
        border: 5px solid var(--dark-blue);
        border-radius: 5px;
        font-size: calc(1rem - 1vw);
    }

    .score p {
        font-size: .7rem;
        margin: 0 2%;
    }

    #hangmanDrawing1 {
        height: 4vw;
        width: .2vw;
        background-color: black;
        top: calc(40% + 2vw);
        right: calc(15% + 8.5vw - 2px);
        rotate: 90deg;
    }
    
    #hangmanDrawing2 {
        height: 8vw;
        width: .2vw;
        background-color: black;
        top: calc(40% - 4vw);
        right: calc(15% + 8vw);
    }
    
    #hangmanDrawing3 {
        height: 8vw;
        width: .2vw;
        background-color: black;
        top: calc(40% - 8vw);
        right: calc(15% + 4vw);
        rotate: 90deg;
    }

    #hangmanDrawing4 {
        height: 3vw;
        width: .2vw;
        background-color: black;
        top: calc(40% - 4vw);
        right: calc(15% + 7.5vw - 2px);
        rotate: 45deg;
    }
    
    #hangmanDrawing5 {
        height: 2vw;
        width: .3vw;
        background-color: black;
        top: calc(40% - 4vw);
        right: calc(15%);
    }
    
    #hangmanDrawing6 {
        height: 2vw;
        width: 2vw;
        border: 1px solid black;
        top: calc(40% - 2vw - 1px);
        border-radius: 50%;
        right: calc(15% - 1vw); 
    }
    
    #hangmanDrawing7 {
        height: 4vw;
        width: .3vw;
        background-color: black;
        top: 40%;
        right: calc(15% - .1vw); 
    }
    
    #hangmanDrawing8 {
        height: .2vw;
        width: 4vw;
        background-color: black;
        border-bottom: transparent;
        border-right: transparent;
        position: absolute;
        top:40%;
        right: calc(15% - 2vw);
    }
    
    #hangmanDrawing9 {
        height: 2vw;
        width: 2vw;
        border: solid 1px black;
        rotate: 45deg;
        border-bottom: transparent;
        border-right: transparent;
        margin-bottom: 10%;
        top: calc(40% + 4vw);
        right: calc(15% - 1vw); 
    }
}

@media (min-width: 1200px) {

    #hangmanDrawing1 {
        height: 4vw;
        width: .2vw;
        background-color: black;
        top: calc(50% + 2vw);
        right: calc(15% + 8vw - 2px);
        rotate: 90deg;
    }

    #hangmanDrawing2 {
        height: 8vw;
        width: .2vw;
        background-color: black;
        top: calc(50% - 4vw);
        right: calc(15% + 8vw - 1.4px);
    }
    
    #hangmanDrawing3 {
        height: 8vw;
        width: .2vw;
        background-color: black;
        top: calc(50% - 8vw);
        right: calc(15% + 4vw - 1.4px);
        rotate: 90deg;
    }

    #hangmanDrawing4 {
        height: 3vw;
        width: .2vw;
        background-color: black;
        top: calc(50% - 4.5vw);
        right: calc(15% + 7vw - 2px);
        rotate: 45deg;
    }
    
    #hangmanDrawing5 {
        height: 2vw;
        width: .2vw;
        background-color: black;
        top: calc(50% - 4vw);
        right: calc(15% - .1vw);
    }
    
    #hangmanDrawing6 {
        height: 2vw;
        width: 2vw;
        border: 6px solid black;
        top: calc(50% - 2vw - 1px);
        border-radius: 50%;
        right: calc(15% - 1vw); 
    }
    
    #hangmanDrawing7 {
        height: 4vw;
        width: .2vw;
        background-color: black;
        top: 50%;
        right: calc(15% - .1vw); 
    }
    
    #hangmanDrawing8 {
        height: .2vw;
        width: 4vw;
        background-color: black;
        border-bottom: transparent;
        border-right: transparent;
        position: absolute;
        top:50%;
        right: calc(15% - 2vw);
    }
    
    #hangmanDrawing9 {
        height: 2vw;
        width: 2vw;
        border: solid 6px black;
        rotate: 45deg;
        border-bottom: transparent;
        border-right: transparent;
        margin-bottom: 10%;
        top: calc(50% + 4.25vw);
        right: calc(15% - 1vw); 
    }
}

@media (max-width: 500px) {
    #hangmanDrawing1 {
        height: 6vw;
        width: .2vw;
        background-color: black;
        top: calc(50% - 4vw);
        right: calc(15% + 13vw);
        rotate: 90deg;
    }

    #hangmanDrawing2 {
        height: 16vw;
        width: .2vw;
        background-color: black;
        top: calc(50% - 17vw);
        right: calc(15% + 13.5vw);
    }
    
    #hangmanDrawing3 {
        height: 12vw;
        width: .2vw;
        background-color: black;
        top: calc(50% - 23vw);
        right: calc(15% + 7.5vw);
        rotate: 90deg;
    }

    #hangmanDrawing4 {
        height: 6vw;
        width: .2vw;
        background-color: black;
        top: calc(50% - 17.5vw);
        right: calc(15% + 11vw);
        rotate: 45deg;
    }
    
    #hangmanDrawing5 {
        height: 4vw;
        width: .2vw;
        background-color: black;
        top: calc(50% - 17vw);
        right: calc(15% + 1.5vw);
    }
    
    #hangmanDrawing6 {
        height: 4vw;
        width: 4vw;
        border: 1px solid black;
        top: calc(50% - 13vw - 1px);
        border-radius: 50%;
        right: calc(15% - .5vw); 
    }
    
    #hangmanDrawing7 {
        height: 8vw;
        width: .2vw;
        background-color: black;
        top: calc(50% - 9vw);
        right: calc(15% + 1.5vw); 
    }
    
    #hangmanDrawing8 {
        height: .2vw;
        width: 6vw;
        background-color: black;
        border-bottom: transparent;
        border-right: transparent;
        position: absolute;
        top:calc(50% - 9vw);
        right: calc(15% - 1.25vw);
    }
    
    #hangmanDrawing9 {
        height: 3vw;
        width: 3vw;
        border: solid 1px black;
        rotate: 45deg;
        border-bottom: transparent;
        border-right: transparent;
        margin-bottom: 10%;
        top: calc(50% - .75vw);
        right: calc(15%); 
    }
}