@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --light-blue: #06AED5;
    --dark-blue: #086788;
    --yellow: #F0C808;
    --white: #FFF1D0;
    --red: #DD1C1A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--white);
    overflow: hidden;
    color: var(--white);
    position: relative;
}

header {
    background-color: var(--dark-blue);
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    font-size: 2.5rem;
    text-decoration: underline;
}

header h2 {
    font-size: 1.5rem;
}

header li {
    list-style: none;
    display: flex;
}

header li a {
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
    transition: .3s;
}

header li a:hover {
    text-decoration: underline;
    font-size: 1.2rem;
    transition: .3s;
}

.user-word {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: rgba(0, 0, 0, .85);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#user-word-placeholder {
    color: var(--dark-blue);
    padding: 5%;
    background-color: var(--white);
    border: 5px solid var(--dark-blue);
    border-radius: 5px;
    font-size: 1.5rem;
}

#user-word-placeholder:focus {
    outline: none;
}

.user-word p {
    font-size: 2rem;
    text-align: center;
    color: var(--white);
    margin-bottom: 2%;
    font-size: 2rem;
}

#input {
    display: flex;
}

#input #submit {
    padding: 3%;
    border: 5px solid var(--dark-blue);
    margin-left: -5px;
    background-color: var(--white);
    color: var(--dark-blue);
    font-size: 1.5rem;
}

#input #submit:hover {
    cursor: pointer;
    opacity: .9;
}

.container {
    display: flex;
}

.container-left {
    margin: 5% 5% 2% 5%;
    width: 60vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--light-blue);
    border-radius: 10px;
}

.hidden-word {
    height: 50%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--dark-blue);
    margin: 5% 10%;
}

.underscore {
    height: .3vh;
    width: 5vw;
    background-color: var(--red);
    margin-left: 1%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    margin: 0 10% 0 10%;
}

.buttons button,input {
    height: 8vh;
    border-radius: 5px;
    background-color: var(--yellow);
    color: var(--dark-blue);
    border: none;
}

.buttons button:hover,input:hover {
    opacity:.9;
}

.buttons button {
    width: 15vw;
    cursor: pointer;
}

.buttons #answer {
    width: 15vw;
    text-align: center;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.buttons #confirm-answer {
    width: 5vw;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 2px solid var(--dark-blue);
}

#answer::placeholder {
    color: var(--dark-blue);
    opacity:.5;
    text-align: center;
    font-size: .8rem;
}

#answer:focus {
    outline: none;
}

.submit-answer {
    display: flex;
}

.container-right {
    margin: 5% 5% 0 5%;
    width: 40vw;
    height: 40vh;
    display: flex;
    background-color: var(--yellow);
    border-radius: 10px;
}

.container-bottom {
    width: 80vw;
    height: 30vh;
    margin: 0 15% 0 10%;
    background-color: var(--red);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 100vw;
    max-height: 3vh;
}

.key {
    padding: 1vh 2vw;
    margin: 1px;
    border-radius: 5px;
    border: 3px solid var(--white);
    background-color: var(--dark-blue);
    color: var(--yellow);
    font-size: calc(.5rem + 1vh);
}

.key p {
    text-align: center;
    font-size: calc(.5rem + 1vh);
}

.key:hover {
    cursor: pointer;
    opacity: .9;
}

.second-row {
    margin-left: 5%;
}

.third-row {
    margin-left: 10%;
}

.container-right {
    display: flex;
    flex-direction: column;
}

.wrong-answer {
    display: flex;
    height: 100%;
}

.score {
    margin: 5%;
    height: 15%;
    width: 90%;
    border-radius: 5px;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.score p {
    font-size: 1.2rem;
    margin: 0 4%;
}

.used-letters {
    margin: 5% 5% 0 5%;
    height: 80%;
    width: 40%;
    background-color: var(--light-blue);
    border-radius: 5px;
}

.hangman {
    margin: 5% 5% 0 5%;
    height: 80%;
    width: 40%;
    background-color: var(--white);
    border-radius: 5px;
}